{% macro class(entity) %}
@dataclass(slots=True, kw_only=True)
class {{ entity.uf_name }}(BaseObject):
    """
    {{ entity.doc }}
    {%- if entity.parameters %}
    {% for parameter in entity.parameters %}
    :param {{ parameter.name }}: {{ parameter.doc }}{% if parameter.nullable %}, defaults to None{% endif %}{% if parameter.default_factory %}, defaults to {{ parameter.default_factory }}(){% endif %}
    :type {{ parameter.name }}: {{ parameter.doc_type }}{% if parameter.nullable %}, optional{% endif %}
    {%- endfor -%}
    {%- endif %}
    """

    ID: typing.Literal['{{ entity.lf_name }}'] = field(default='{{ entity.lf_name }}', metadata={"alias": "@type"})
    {%- for parameter in entity.parameters %}
    {%- if parameter.alias or parameter.has_constraints %}
    {{ parameter.name }}: {% if parameter.nullable %}{{ parameter.optional_type }}{% else %}{{ parameter.type }}{% endif %} = field(
        {%- if parameter.default_factory %}default_factory={{ parameter.default_factory }}{% elif parameter.default_value %}default={{ parameter.default_value }}{% elif parameter.nullable %}default=None{% else %}default=MISSING{% endif %},
        metadata={
            {%- if parameter.alias %}"alias": '{{ parameter.alias }}'{% if parameter.min_length or parameter.max_length %}, {% endif %}{% endif %}
            {%- if parameter.min_length %}"min_length": {{ parameter.min_length }}{% if parameter.max_length %}, {% endif %}{% endif %}
            {%- if parameter.max_length %}"max_length": {{ parameter.max_length }}{% endif %}
        }
    )
    {%- else %}
    {{ parameter.name }}: {% if parameter.nullable %}{{ parameter.optional_type }}{% else %}{{ parameter.type }}{% endif %}{% if parameter.default_factory %} = field(default_factory={{ parameter.default_factory }}){% elif parameter.default_value %} = field(default={{ parameter.default_value }}){% elif parameter.nullable %} = field(default=None){% endif %}
    {%- endif -%}
    {% endfor %}
{% endmacro %}